
<h1>Plantilla src/templates/home.html (A completar per l'estudiant)</h2>

<h3>Esbós de com mostrar la llista de temes (veieu com es defineix la variable <code>themes</code> en el corresponent handler)</h3>
$forall{ p <- themes }
  <p>Responsable: #{tLeader (snd p)}, Categoria: #{tCategory (snd p)}, Títol: #{tTitle (snd p)}
     (<a href="@{ThemeR (fst p)}">enllaç a la ruta del tema</a>)</p>
$end

$if{ maybe True isAdmin mbuser }
<h3>Esbós de com mostrar el formulari per crear un tema nou (veieu com es defineix la variable <code>tformw</code> en el corresponent handler)</h3>
  <div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <form role="form" method="POST" action="@{HomeR}">
      ^{tformw}
      <button type="submit" class="btn btn-success">Afegeix tema</button>
    </form>
  </div>
  </div>
$end

